.card-list-video {
  width: 300px;
  cursor: pointer;
}
.card-image-video {
  height: 400px;
}
.judul-card {
  position: absolute;
  bottom: 25px;
}
.loading-animation {
  width: 300px;
  height: 300px;
  font-size: 50px;
}
